.pisco {
    height: 350px;
    width: 500px;
}

.input {
  width: 300px;
  box-sizing: border-box;
  border: 2px solid rgb(202, 8, 8);
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
 }

 .flag {
    height: 350px;
    width: 500px;
 }